.huoche-title{
  font-size: 22px;
  clear: both;
  background: #EDEDED;
}
.huoche-title .title-left .title-top {
  padding-top: 15px;
  color: #c81622;
  font-size: 30px;
  display: block;
  float: left;
  height: 80px;
}
.huoche-title .title-left .drive-search{
	float: right;
}
.huoche-title .title-left .drive-search .search-title{
	width: 460px;
	height: 80px;
	padding-top: 20px;
}
.huoche-title .title-left .drive-search .search-title>.col-md-7{
	width: auto;
}
.huoche-title .title-left .drive-search .search-title>.col-md-7>span{
	display: block;
	float: right;
	height: 100%;
	font-size: 14px;
	color: #1e1e1e;
	line-height: 45px;
}
.huoche-title .title-left .drive-search .search-title>.col-md-2{
	width: 31%;
}
.huoche-title .title-left .drive-search .search-title>.col-md-2 .form-control{
  display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#dropdownMenu1 a{
	color:#ccc;
}


.huoche-title .title-left span {
  color: #333;
  font-size: 48px;
  color: #ccc;
  margin-left: 20px;
  padding-left: 10px;
  float: left;
  display: block;
  height: 60px;
}
.huoche-xinxi .first {
  background-color: #FFF;
}
.huoche-xinxi .secent {
  background-color: #f4f4f4;
}
.huoche-xinxi .xinxi-title {
  height: 45px;
  width: 100%;
  background-color: #f4f4f4;
  border-top: 2px solid #ccc;
  padding-right: 20%;
}
.huoche-xinxi .xinxi-title span {
  display: block;
  float: right;
  height: 100%;
  width: 250px;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 45px;
}
.huoche-xinxi .xinxi-main {
  height: 175px;
  width: 100%;
}
.huoche-xinxi .xinxi-main .content-img {
  padding: 20px;
  height: 175px;
  position: relative;
}
.huoche-xinxi .xinxi-main .content-img .content-wujiaoxing {
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 22px;
  width: 48%;
}
.huoche-xinxi .xinxi-main .content-img .content-wujiaoxing img {
  width: 100%;
}
.huoche-xinxi .xinxi-main .content-name {
  height: 175px;
}
.huoche-xinxi .xinxi-main .content-name .name-title {
  font-size: 16px;
  color: #333333;
  margin-top: 50px;
  display: block;
}
.huoche-xinxi .xinxi-main .content-name .name-number {
  font-size: 16px;
  color: #333333;
}
.huoche-xinxi .xinxi-main .content-luxian {
  height: 175px;
}
.huoche-xinxi .xinxi-main .content-luxian .luxian-content {
  margin: 70px 40px;
  height: 35px;
  font-size: 16px;
  color: #333333;
  display: block;
}
.huoche-xinxi .xinxi-main .content-luxian .luxian-content img {
  width: 30%;
  height: 100%;
}
.huoche-xinxi .xinxi-main .content-luxian .luxian-content .content-zhisih {
  width: 70%;
  font-size: 12px;
  color: #333333;
}
.huozhu-beijing{
	background: url('../img/banner/jsbg.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
.huozhu-beijing .intro-img{
	height: 203px;
	text-align: center;
}
.huozhu-beijing .intro-img p{
	width: 32%;
	float: left;
	color: #fff;
	text-align: right;
	margin-top: 40px;
	font-size: 24px;
}
.huozhu-beijing .intro-img img{
	width: 42%;
	float: right;
	margin-right: 245px;
	margin-top: 10px;
}

.drive-jianjie{
	background: #fff;
	margin-bottom: 8px;
}
.drive-jianjie-one{
	height: 240px;
	width: 270px;
	float: left;
	padding: 40px 75px 80px 75px;
	border-right: 1px dashed #ccc;
}
.drive-jianjie-one .drive-img img{
	border-radius: 50%;
}
.drive-jianjie-two{
	float: left;
	height: 240px;
	width: 300px;
	padding: 50px 28px 30px 28px;
	border-right: 1px dashed #ccc;
}
.drive-jianjie-two .drive-name-number{
	display: block;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-bottom: 16px;
}
.drive-jianjie-three{
	float: left;
	height: 240px;
	width: 360px;
	padding: 50px;
	border-right: 1px dashed #ccc;
}
.drive-jianjie-three .dispatching-area{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.drive-jianjie-three .region-list .region-list-top{
	margin-bottom: 12px;
}
.drive-jianjie-three .region-list .whole-story{
	display: inline-block;
	background: #FF8900;
	color: #fff;
	padding: 9px 24px 6px 24px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 9px;
	border-radius: 10px;
}
.drive-jianjie-four{
	float: left;
	height: 240px;
	width: 180px;
	padding: 73.5px 43.5px;
}
.drive-jianjie-four div{
	border: 4px solid #E8A0A5;
	background: #D1414B;
	border-radius: 50%;
	width: 93px;
	height: 93px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	padding-top: 10px;
	cursor:pointer;
}